{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container-fluid col-12">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #01924c;">
            <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo_abrasel.png' %}" width="80px">
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Início</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/">Listagem geral</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'sobre' %}">Sobre a plataforma</a>
                </li>
              </ul>
            </div>
        </nav>
        {% block content %}

        {% endblock %}
        <footer class="footer" style="background-color: #1b1c1e;">
          <p class="titulo">Desafio Conjunto do Projeto Estica</p>
          <p>Dúvidas, reclamações e sugestões, entre em contato.</p>
          <ul class="estagiarios">
            <li>André - esticabr1@abrasel.com.br</li>
            <li>Arthur - esticabr2@abrasel.com.br</li>
            <li>Isadora - esticabr3@abrasel.com.br</li>
            <li>Raphael - esticabr4@abrasel.com.br</li>
          </ul>
        </footer>
    </div>

    
    <script src="https://kit.fontawesome.com/4a50871386.js" crossorigin="anonymous"></script><script src="https://kit.fontawesome.com/4a50871386.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>