{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container home">
        <h1>A<span style="color: #006635;">b</span><span style="color: #ffae00;">r</span>aMetas</h1>

        <div class="col-12">
            <div class="row dados">
                <div class="card text-center col-sm-2" style="background-color: #BDB76B;" >
                    <div class="card-body">
                    <h5 class="card-title"><a href="/" class="dados-title">Total de metas</a></h5>
                    <h5 class="card-text">{{ total_metas }}</h5>
                    </div>
                </div>
                <div class="card text-center col-sm-2" style="background-color: #90EE90;">
                    <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'lista-cor' 'verde' %}" class="dados-title">Concluídas</a></h5>
                    <h5 class="card-text">{{ concluidas }}</h5>
                    </div>
                </div>
                <div class="card text-center col-sm-2" style="background-color: #ADD8E6;">
                    <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'lista-cor' 'azul' %}" class="dados-title">Em progresso</a></h5>
                    <h5 class="card-text">{{ progresso }}</h5>
                    </div>
                </div>
                <div class="card text-center col-sm-2" style="background-color: #DAA520;">
                    <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'lista-cor' 'amarelo' %}" class="dados-title">Atenção</a></h5>
                    <h5 class="card-text">{{ atencao }}</h5>
                    </div>
                </div>
                <div class="card text-center col-sm-2" style="background-color: #FF6347;">
                    <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'lista-cor' 'vermelho' %}" class="dados-title">Atrasadas</a></h5>
                    <h5 class="card-text">{{ atrasadas }}</h5>
                    </div>
                </div>
                <div class="card text-center col-sm-2" style="background-color: #90EE90;">
                    <div class="card-body">
                    <h5 class="card-title">% de metas concluídas</h5>
                    <h5 class="card-text">{{ porcentagem }}%</h5>
                    </div>
                </div>


            </div>
        </div>

        <div class="row cards-div">

            {% for setor in setores %}

                <div class="col-md-6 home-card">
                    <div class="card">
                        <div class="card-header" style="background-color: #006635;"><a href="{% url 'lista-setor' setor.ident %}">{{ setor.name }}</a></div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for meta in metas %}
                                    {% if meta.setor == setor %}
                                        <li class="list-group-item">
                                            <a href="{% url 'meta-view' meta.id %}" class="meta-title">{{ meta.titulo }}</a>
                                            <div class="progress">
                                                {% if meta.semaforo == 'verde' %}
                                                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width:{{ meta.porcentagem }}%; min-width: 16%;" role="progressbar" aria-valuenow="{{ meta.porcentagem }}" aria-valuemin="0" aria-valuemax="100">
                                                        {{ meta.porcentagem }}%
                                                    </div>
                                                {% elif meta.semaforo == 'vermelho' %}  
                                                    <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" style="width:{{ meta.porcentagem }}%; min-width: 16%;" role="progressbar" aria-valuenow="{{ meta.porcentagem }}" aria-valuemin="0" aria-valuemax="100" >
                                                        {{ meta.porcentagem }}%
                                                    </div>
                                                {% elif meta.semaforo == 'amarelo' %}
                                                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" style="width:{{ meta.porcentagem }}%; min-width: 16%;" role="progressbar" aria-valuenow="{{ meta.porcentagem }}" aria-valuemin="0" aria-valuemax="100">
                                                        {{ meta.porcentagem }}%
                                                    </div>
                                                {% elif meta.semaforo == 'azul' %}
                                                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" style="width:{{ meta.porcentagem }}%; min-width: 16%;" role="progressbar" aria-valuenow="{{ meta.porcentagem }}" aria-valuemin="0" aria-valuemax="100">
                                                        {{ meta.porcentagem }}%
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>
    
{% endblock %}