{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container home">
        <h1>Home</h1>

        <div class="row cards-div">
            
            {% for setor in setores %}

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header"><a href="{% url 'lista-setor' setor.ident %}">{{ setor.name }}</a></div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for meta in metas %}
                                    {% if meta.setor == setor %}
                                        <a href="{% url 'meta-view' meta.id %}"><li class="list-group-item">{{ meta.title }}</li></a>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>
{% endblock %}