{% extends 'base.html' %}

{% block title %}Lista Metas{% endblock %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>Lista de Metas {{ setor.name }}</h1>
        <a id="#add-link{
            " href="novameta/{{ setor.ident }}">
            <div class="col-2 add-div">
                <i class="fa fa-plus"></i> Adicionar Meta
            </div>
        </a>
        <div class="col-9 search-div">
            <form method="GET" id="search-form">
                <input class="form-control" type="text" name="search" id="search" placeholder="Digite aqui uma meta para buscar..." value="{{ request.GET.search }}">
                <i class="fas fa-search" id="search-btn"></i>
            </form>
        </div>

        <input type="hidden" name="urlSetor" id="url-setor" value="/{{ setor.ident }}">

        <div class="col-12 filter-div">
            <span>Filtrar por:</span>
            <select name="filter" id="filterS" class="form-control">
                <option value="">Escolha uma opção</option>
                <option value="done">Metas atingidas</option>
                <option value="doing">Metas a atingir</option>
            </select>
        </div>
        
        <!--<ul class="tasks-list">-->
        
            {% for meta in metas %}
                {% if meta.deletado == False %}
                
                <div class="list-group tasks-list">
                    <a href="meta/{{ meta.id }}" class="link-meta text-decoration-none">
                    {% if meta.done == 'doing' %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start task-item">
                    {% else %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start task-item done">
                    {% endif %}

                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Título: {{ meta.titulo }} | Responsável: {{ meta.responsavel }}</h5>
                                <small class="text-muted">{{ meta.entrega }}</small>
                                
                            </div>
                            <div class="progress">
                                {% if meta.semaforo == 'verde' %}
                                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: {{ meta.porcentagem }}%;" role="progressbar" aria-valuenow="{{ meta.porcentagem }}" aria-valuemin="0" aria-valuemax="100">
                                        {{ meta.porcentagem }}%
                                    </div>
                                {% elif meta.semaforo == 'vermelho' %}  
                                    <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" style="width: {{ meta.porcentagem }}%;" role="progressbar" aria-valuenow="{{ meta.porcentagem }}" aria-valuemin="0" aria-valuemax="100">
                                        {{ meta.porcentagem }}%
                                    </div>
                                {% elif meta.semaforo == 'amarelo' %}
                                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" style="width: {{ meta.porcentagem }}%;" role="progressbar" aria-valuenow="{{ meta.porcentagem }}" aria-valuemin="0" aria-valuemax="100">
                                        {{ meta.porcentagem }}%
                                    </div>
                                {% elif meta.semaforo == 'azul' %}
                                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" style="width: {{ meta.porcentagem }}%;" role="progressbar" aria-valuenow="{{ meta.porcentagem }}" aria-valuemin="0" aria-valuemax="100">
                                        {{ meta.porcentagem }}%
                                    </div>
                                {% endif %}
                            </div>
                            <p class="mb-1">{{ meta.descricao }}</p>
                            <small class="text-muted">{{ meta.created_at }}</small>
                            <a href="{% url 'delete-meta' meta.id %}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>
                            <a href="{% url 'edit-meta' meta.id %}"><span><i class="fas fa-edit"></i></span></a>
                            <a href="{% url 'change-statusS' meta.id %}" class="changestatus-btn"><span><i class="fas fa-check"></i></span></a>
                        </div>
                    </a>
                </div>
                
                    <!--
                    {% if meta.done == 'doing' %}
                        <li class="task-item">
                    {% else %}
                        <li class="task-item done">  
                    {% endif %}
                            <span><a href="/meta/{{ meta.id }}">{{ meta.title }} | {{ meta.description }} | {{ meta.responsavel }}</a></span>
                            <a href="delete/{{ meta.id }}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>
                            <a href="edit/{{ meta.id }}"><span><i class="fas fa-edit"></i></span></a>
                            <a href="changestatus/{{ meta.id }}"><span><i class="fas fa-check"></i></span></a>
                        </li>
                    -->
                {% endif %}
            {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if metas.has_previous %}
                    <a href="?page={{ metas.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
                {% endif %}

                {% if metas.paginator.num_pages %}
                    <span class="current">
                        {{ metas.number }} de {{ metas.paginator.num_pages }}
                    </span>
                {% endif %}

                {% if metas.has_next %}
                    <a href="?page={{ metas.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}