{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Lista Metas{% endblock %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>{{ meta.title }}</h1>
        <p>{{ meta.description }}</p>
    </div>

    <div class="col-10 coments-list-div">
        <a id="#add-coment-link" href="/comentario/{{ meta.id }}">
            <div class="col-2 add-div">
                <i class="fa fa-plus"></i> Adicionar Comentário
            </div>
        </a>

        <div class="row">
            {% for coment in comentarios %}
        
                <div class="col-md-4">
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-header">{{ coment.user.username }}|{{ coment.fk_meta.title }}</div>
                        <div class="card-body">
                        <p class="card-text">{{ coment.content }}</p>
                        </div>
                    </div>
                </div>
                
            {% endfor %}
        </div>
        
    </div>

{% endblock %}