{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Lista Metas{% endblock %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>{{ meta.title }}</h1>
        <p>{{ meta.description }}</p>
    </div>

    <a id="#add-link" href="/comentario/{{ meta.id }}">
        <div class="col-2 add-div">
            <i class="fa fa-plus"></i> Adicionar Comentário
        </div>
    </a>

    <form method="POST" id="formulario-porcentagem">
        <label for="porcentagem">Alterar a porcentagem</label>
        <input type="number" name="porcentagem" id="input-porcentagem" max="100" min="0" maxlength="3">
        <input type="submit" value="Alterar">
    </form>

    <div class="col-10 coments-list-div">

        <div class="row">
            {% for coment in comentarios %}
        
                <div class="col-md-4">
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-header">{{ coment.user.name }}|{{ coment.fk_meta.title }}</div>
                        <div class="card-body">
                            <h6>O que foi feito?</h6>
                            <p class="card-text">{{ coment.oquefoifeito }}</p>
                            {% if coment.oquevaiserfeito|length > 0 %}
                                <h6>O que vai ser feito?</h6>
                                <p class="card-text">{{ coment.oquevaiserfeito }}</p>
                            {% endif %}
                            {% if coment.impedimento|length > 0 %}
                                <h6>Impedimento</h6>
                                <p class="card-text">{{ coment.impedimento }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
            {% endfor %}
        </div>
        
    </div>

    <script>

        var inputPorcentagem = document.getElementById('input-porcentagem');
        var formPorcentagem = document.getElementById('formulario-porcentagem');

        console.log(inputPorcentagem.value);

    </script>

{% endblock %}