{% extends 'base.html' %}

{% block title %}Sobre a plataforma{% endblock %}

{% block content %}

<div class="offset-1 col-10 sobre-a-plataforma">
    <div class="row">
        <div class="sobre col-10">
            <h2>Sobre a plataforma</h2>
            <p>O propósito inicial da plataforma é acrescentar à Abrasel no quesito <strong>SINERGIA</strong>.<br>
                Com ela será possível ter a visão macro de como estão as metas da empresa e de cada área,
                 facilitando o monitoramento por parte dos líderes e deixando os colaboradores por dentro de cada setor.</p>
        </div>
        <div class="lista-fazer col-10">
            <h4>O que pode ser feito na plataforma?</h4>
            <ul>
                <li class="item">Acompanhar todas as metas da Abrasel de forma otimizada;</li>
                <li class="item">Comentários que servem como acompanhamento das metas;</li>
                <li class="item">Visualizar o percentual de progresso das metas;</li>
                <li class="item">Elencar responsável pela meta e os demais membros que estarão participando dela;</li>
                <li class="item">Analisar o andamento das metas por cores, que serão alteradas de acordo com o prazo de entrega. </li>
            </ul>
            <small>Diversas outras funcionalidades serão implementadas em breve.</small>
        </div>
        <div class="col-10">
            <h4>Aprenda a utilizar a plataforma</h4>

        </div>
        <div class="mais-sobre col-10">
            <h4>Mais sobre</h4>
            <p>A plataforma foi desenvolvida pelos estagiários do Projeto Estica.</p>
            <ul class="estagiarios">
                <li>André Carlos - graduando em Engenharia Mecânica</li>
                <li>Arthur Azalim - graduando em Ciência da Computação</li>
                <li>Isadora Ferreira - graduanda em Engenharia de Produção</li>
                <li>Raphael Santos - graduando em Sistemas de Informação</li>
            </ul>
            <p>O desenvolvimento da plataforma foi acompanhado pelo Diretor de Transformação,
                 Paulo Jelihovschi, e pelo Líder de Projetos Digitais, Fernando Santos.</p>
        </div>
        <div class="proximas col-10">
        </div>
    </div>
</div>

{% endblock %}