{% extends 'base.html' %}

{% block title %}Sobre a plataforma{% endblock %}

{% block content %}

<div class="offset-1 col-10 sobre-a-plataforma">
    <div class="row">
        <div class="sobre col-10">
            <h2>Sobre a plataforma</h2>
            <p>O propósito inicial da plataforma é acrescentar à Abrasel no quesito <strong>SINERGIA</strong>.<br>
                Tornando mais fácil para todos os funcionários entenderem o que o outro está fazendo e buscando.</p>
        </div>
        <div class="lista-fazer col-10">
            <h4>O que pode ser feito na plataforma?</h4>
            <ul>
                <li class="item">Criar metas para cada setor interno da Abrasel.</li>
                <li class="item">Visualizar todas as metas da Abrasel em apenas uma tela.</li>
                <li class="item">Adicionar comentários que servem como reports para as metas.</li>
                <li class="item">Alterar a porcentagem de progresso de uma meta.</li>
                <li class="item">Apontar um responsável pela e meta e os demais membros.</li>
                <li class="item">Acompanhar os prazos das metas.</li>
            </ul>
            <small>Diversas outras funcionalidades serão implementadas em breve.</small>
        </div>
        <div class="mais-sobre col-10">
            <h4>Mais sobre a plataforma</h4>
            <p>A plataforma foi desenvolvida pelos estagiários do Projeto Estica.</p>
            <ul class="estagiarios">
                <li>Isadora - Engenharia de Produção</li>
                <li>André - Engenharia Mecânica</li>
                <li>Arthur - Ciência da Computação</li>
                <li>Raphael - Sistemas de Informação</li>
            </ul>
            <p>O desenvolvimento da plataforma foi acompanhado pelo Paulo e pelo Fernando, muitas das funcionalidades que temos e ainda teremos foram apontadas por eles.</p>
        </div>
        <div class="proximas col-10">
            <h4>Em breve...</h4>
            <ul>
                <li>Será implementado uma espécie de semáforo, quando estiver chegando a data de entrega, a meta ficara na cor amarela e quando estiver atrasada ela ficará na cor vermelha. Acreditamos que isso facilitará a visualização.</li>
                <li>Gráficos serão adicionados à tela inicial, para que seja possível saber rapidamente quantas metas um setor possui e, em qual estágio elas então.</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}