.container-fluid{
    padding: 0;
}

.container-fluid .row{
    margin: 0px;
}

/* navbar */

.navbar{
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav{
    margin: auto;
}

.navbar-brand{
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link:link{
    text-decoration: none;
    color: #ccc;
    letter-spacing: 1px;
}

/* Botão adicionar meta */

#add-link{
    text-decoration: none;
    
}

.add-div{
    background-color: #006635;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus{
    color: #FFF;
    margin-right: 10px;
    margin-left: 5px;
}

/* Search */

.fas.fa-search{
    position: absolute;
    top: 12px;
    right: 26px;
    cursor: pointer;
}

.search-div{
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

/* filter */

.filter-div{
    margin-bottom: 20px;
    padding: 0;
}

#filter{
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

/* dashboards */

.dashboard{
    padding: 0;
    width: 100%;
    display: block;
}

.dashboard h4{
    font-size: 20px;
}

.dashboard span{
    font-size: 40px;
    display: block;
    width: 100%;
}

.dashboard-box{
    float: left;
    background-color: #DFDFDF;
    color: #FFF;
    padding: 20px;
    box-sizing: border-box;
    height: 130px;
    width: 32%;
    text-align: center;
}

.dashboard-box:nth-child(2){
    margin-left: 1.5%;
    margin-right: 1.5%;
}

/* Lista de Metas */

.list-div{
    padding: 0;
}

.tasks-list{
    padding-left: 0;
}

.task-item{
    padding-top: 10px;
}

.task-item.done{
    background-color: #ccc;
}

.fas.fa-check{
    color: #ccc;
}

.done .fas.fa-check{
    color: #3476e2;
}

.cor-check .fas.fa-check{
    color: #3476e2;
}

.fas.fa-trash, .fas.fa-edit, .fas.fa-check{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-edit{
    color: #13c43f;
}

.fas.fa-trash{
    color: #db1e47;
}

.link-meta:link{
    text-decoration: none;
    color: black;
}

.link-meta:visited{
    text-decoration: none;
    color: black;
}

.link-meta{
    text-decoration: none;
    color: black;
}

/* Rodapé */

footer{
    background-color: #333;
    height: 200px;
    border-top: 2px solid #202020;
}


footer .titulo{
    color: #f5f5f5;
    text-align: center;
    top: 10%;
    position: relative;
}

footer p{
    color: #f5f5f5;
}

footer .estagiarios{
    padding-left: 30px;
    color: #f5f5f5;
}



/* Pagination */

.pagination{
    margin-bottom: 20px;
}

.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}

/* Login */

.auth-card{
    margin-bottom: 130px;
}

.change-form-p{
    margin-top: 30px;
    text-align: center;
}

.btn-login{
    margin-top: 20px;
}

.btn-register{
    margin-top: 20px;
}

/* nova meta */

.form-nova-meta{
    margin-bottom: 30px;
}

/* home */

.home{
    padding: 0;
}

.cards-div .card{
    margin: 40px;
}

.cards-div{
    margin-left: auto;
    margin-top: auto;
}

.cards-div .card .card-text{
    text-align: center;
    font-size: larger;
}

.home-card .card-body{
    border-style: solid;
    border-color: #006635;
    border-top: none;
}

.home-card .card-header{
    font-size: large;
}

.card-header a:link{
    color: #fff;
}

.card-header a:visited{
    color: #fff;
}

.dados-title:link{
    color: #202020;
}

.dados-title:visited{
    color: #202020;
}

.meta-title:link{
    color: #202020;
}

.meta-title:visited{
    color: #202020;
}

.back-to-top {
    background-color: #d9a000;
    border-radius: 65px;
    bottom: 14px;
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
    color: #006635;
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 22px;
    width: 40px;
    z-index: 3;
}

.back-to-top::after {
      content: '▲';
      display: flex;
      justify-content: center;
      padding-left: 1px;
      padding-top: 10px;
}

.dados{
    padding-top: 25px;
}

/* comentários */

.coment-list{
    margin-left: auto;
    overflow: auto;
    height: 400px;
    padding: 30px;
}

.add-comentario{
    padding-left: 20px;
    padding-top: 20px;
}

/* sobre a plataforma */

.sobre{
    padding-top: 20px;
    padding-bottom: 10px;
}

.lista-fazer{
    padding-top: 10px;
    padding-bottom: 10px;
}

.mais-sobre{
    padding-top: 10px;
    padding-bottom: 10px;
}

.proximas{
    padding-top: 10px;
    padding-bottom: 20px;
}



.sobre-a-plataforma{
    padding: 0;
}

.estagiarios li{
    list-style-type: none;
}

/* visualização da meta */

.meta-view{
    padding: 0;
}

#formulario-porcentagem{
    padding-top: 10px;
}